@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

body {
  height: 100%;
  width: 100%;
}

body.dark {
  background-color: #000;
}

body.dark .page-name,
body.dark .text-color,
body.dark .username,
body.dark .dropdown {
  color: white;
}

body.dark .profile {
  background-color: black;
  color: white;
}

body.dark .sidebar {
  border-right: 1px solid #ffffff;
}

body.dark header {
  border-bottom: 1px solid #ffffff;
  background: #000;
}

body.dark .dark-mode-icon {
  display: inline-block;
}

body.dark .light-mode-icon {
  display: none;
}

body.dark .mode-container {
  background: black;
}